<% content_for :title, "スケジュール編集" %>

<%= form_with model: @schedule, local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :start_date, "開始日" %>
    <%= f.date_select :start_date %>
  </div>

  <div>
    <%= f.label :end_date, "終了日" %>
    <%= f.date_select :end_date %>
  </div>

  <div>
    <%= f.label :all_day, "終日" %>
    <%= f.check_box :all_day %>
  </div>

  <div>
    <%= f.label :memo, "メモ" %>
    <%= f.text_area :memo %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to 'キャンセル', schedule_path(@schedule), class: "btn btn-secondary" %>
