<% content_for :title, "スケジュール一覧" %>

<%= link_to '新規作成', new_schedule_path, class: "new-create" %>


<table>
  <tr>
    <th>タイトル</th>
    <th>開始日</th>
    <th>終了日</th>
    <th>終日</th>
    <th>更新日時</th>
    <th>操作</th>
  </tr>

  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.title %></td>
      <td><%= schedule.start_date.strftime("%Y/%m/%d") %></td>
      <td><%= schedule.end_date.strftime("%Y/%m/%d") %></td>
      <td><%= schedule.all_day ? '○' : '' %></td>
      <td><%= schedule.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td>
        <%= link_to '詳細', schedule_path(schedule) %> |
        <%= link_to '編集', edit_schedule_path(schedule) %> |
        <%= link_to '削除', schedule_path(schedule), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </td>
    </tr>
  <% end %>
</table>